In [1]:
import pandas as pd
import random as rd
import time

In [2]:
financials = pd.read_excel('tata.xlsx')

In [3]:
financials.head()

,64009,63827,63735,63644,63554,63462,63370,63279,63189,63097,...,62914,62823,62731,62639,62548,62458,62366,62274,62183,62093
Revenue,3.061269e+09,2.955081e+09,2.901874e+09,2.883125e+09,3.200213e+09,2.704471e+09,2.701678e+09,2.728943e+09,2.731099e+09,2.753412e+09,...,2.710057e+09,2.703742e+09,2.684386e+09,2.637547e+09,2.640577e+09,2.623661e+09,2.592857e+09,2.563026e+09,2.497946e+09,2.336623e+09
Revenue Growth,3.593393e-02,1.833528e-02,6.503236e-03,-9.908348e-02,1.833046e-01,1.033753e-03,-9.991035e-03,-7.893621e-04,-8.103790e-03,5.148012e-03,...,2.335653e-03,7.210736e-03,1.775847e-02,-1.147431e-03,6.447457e-03,1.188019e-02,1.163930e-02,2.605325e-02,6.904107e-02,2.140598e-02
Gross Profit,4.514517e+08,3.452640e+08,2.920573e+08,2.733077e+08,5.903959e+08,9.465400e+07,9.186113e+07,1.191261e+08,1.212819e+08,1.435950e+08,...,1.002403e+08,9.392531e+07,7.456891e+07,2.773012e+07,3.076000e+07,1.384406e+07,-1.695959e+07,-4.679142e+07,-1.118710e+08,-2.731940e+08
PE ratio,0.000000e+00,8.825397e+00,9.187500e+00,1.200000e+01,1.248387e+01,1.702290e+01,1.700000e+01,1.477419e+01,1.548276e+01,1.286111e+01,...,1.079070e+01,1.085714e+01,9.391304e+00,1.021951e+01,8.356164e+00,8.323917e+00,8.678161e+00,8.565815e+00,9.257732e+00,8.943249e+00
EPS,3.170000e+01,3.150000e+01,3.200000e+01,2.700000e+01,3.100000e+01,2.620000e+01,2.600000e+01,3.100000e+01,2.900000e+01,3.600000e+01,...,4.300000e+01,4.200000e+01,4.600000e+01,4.100000e+01,5.110000e+01,5.310000e+01,5.220000e+01,5.090000e+01,4.850000e+01,5.110000e+01

In [4]:
financials = financials.reset_index().rename(columns={'index':'Factor'})

In [5]:
financials = financials.T.rename(columns={i[0]:i[1] for i in list(zip(list(range(financials.T.shape[1])),financials['Factor']))}).drop('Factor')

In [6]:
financials = financials.astype('float64')

In [7]:
train = financials[1:16]

In [8]:
test = financials[16:21]

In [9]:
from sklearn.model_selection import train_test_split
X = train.drop('Average Stk price',axis=1)
y = train['Average Stk price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=300)
from xgboost import XGBRegressor
model = XGBRegressor()
model.fit(X_train,y_train)
pred = model.predict(X_test)
from sklearn.metrics import r2_score
print(r2_score(y_test,pred))

0.9900016713408273

In [10]:
pd.DataFrame(model.feature_importances_,X.columns)

                                      0
Revenue                        0.443787
Revenue Growth                 0.023669
Gross Profit                   0.000000
PE ratio                       0.136095
EPS                            0.088757
Shareholders Equity per Share  0.263314
Net Income                     0.038462
ROE                            0.005917
Preferred Dividends            0.000000

In [11]:
financials['Average Stk price'] = financials['Average Stk price'].fillna(list(model.predict(financials[0:1].drop('Average Stk price',axis=1)))[0])

In [12]:
financials.head()

,Revenue,Revenue Growth,Gross Profit,PE ratio,EPS,Shareholders Equity per Share,Net Income,ROE,Preferred Dividends,Average Stk price
64009,3.061269e+09,0.035934,451451673.0,0.000000,31.7,342.9,3.064924e+08,8.86,0.0,288.417969
63827,2.955081e+09,0.018335,345264000.0,8.825397,31.5,330.4,2.946192e+09,9.50,0.0,278.000000
63735,2.901874e+09,0.006503,292057320.0,9.187500,32.0,345.0,2.735662e+09,10.20,0.0,294.000000
63644,2.883125e+09,-0.099083,273307680.0,12.000000,27.0,306.0,2.702199e+09,12.70,0.0,324.000000
63554,3.200213e+09,0.183305,590395910.0,12.483871,31.0,247.0,2.703282e+09,12.10,0.0,387.000000

In [13]:
starting_value = financials[0:1]['Average Stk price']

In [14]:
starting_value

64009    288.417969
Name: Average Stk price, dtype: float64

In [15]:
import decimal

In [16]:
extent_variation = [25]*10+[50]*7+[100]*5+[150]*4+[200]*3
time_variation = [2.5,2.5,3,3,3,3,3,4,4,4,4]
start_fluc = float(decimal.Decimal(rd.randrange((int(starting_value)*100)-rd.sample(extent_variation,1)[0], (int(starting_value)*100)+rd.sample(extent_variation,1)[0])/100))

In [17]:
def stock_time_value():
    return (rd.sample(time_variation,1)[0],float(decimal.Decimal(rd.randrange((int(start_fluc)*100)-(3*rd.sample(extent_variation,1)[0]), (int(start_fluc)*100)+(5*rd.sample(extent_variation,1)[0]))/100)))

In [18]:
days_high = round(float(starting_value),2)
days_low = round(float(starting_value),2)
while True:
    time.sleep(stock_time_value()[0])
    passing_values = [0]*10+[1]*35
    if rd.sample(passing_values,1)[0] == 0:
        print('Continuing')
        continue
    else:
        stock_val = stock_time_value()[1]
        if stock_val>days_high:days_high = stock_val
        elif stock_val<days_low:days_low = stock_val
        stock_diff = round(stock_val - float(starting_value),2)
        print(stock_val,"  ",stock_diff,"  ",days_low,"  ",days_high)
    time.sleep(stock_time_value()[0])

Continuing
286.86    -1.56    286.86    288.42
Continuing
Continuing
Continuing
287.05    -1.37    286.86    288.42
Continuing
Continuing

KeyboardInterrupt: